$white_color: white;
$red_color: #f44336;
$red_hover_color: #d32f2f;
$accent_color: #247cff;
$accent_hover_color: #1a4ed2;
$titles_color: #061829;
$text_color: #666f77;
$background_grey: #f1f6fb;
$background_color: #fff;
$border_color: #dbe5ee;
