@use "../../styles/color.scss" as *;

.admin-menu-wrapper {
  padding: 30px;
  margin-top: 30px;
  min-height: 65vh;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 4px 0 36px rgba(140, 170, 205, 0.2);

  .title {
    font-size: 32px;
    color: $titles_color;
    text-align: center;
    border-bottom: 1px solid #dbe5ee;
    padding-bottom: 20px;
  }

  label {
    color: $text_color;
    font-size: 16px;
    margin-bottom: 34px;
  }

  input[type="text"],
  input[type="password"],
  textarea {
    box-sizing: border-box;
    resize: vertical;
    color: inherit;
    font: inherit;
    font-weight: normal;
    margin: 0;
    outline: none;
    height: 64px;
    min-height: 64px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #cad6e1;
    border-radius: 4px;
    margin-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
  }

  textarea {
    height: 120px;
  }

  .content {
    .empty-data-title {
      font-size: 16px;
      color: $text_color;
      text-align: center;
      margin-top: 50%;
    }

    .list {
      padding-left: 0;
      list-style-type: none;
    }

    .list-item {
      position: relative;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      padding: 15px 20px;
      margin-top: 30px;
      border-radius: 20px;
      box-shadow: 4px 0 36px rgba(140, 170, 205, 0.2);

      h4 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 15px;
      }

      .actions {
        display: flex;
        margin-top: 15px;
        gap: 10px;

        .action {
          cursor: pointer;

          :hover {
            color: $accent_color;
          }
        }
      }

      &-delete {
        position: absolute;
        right: 15px;
        top: 15px;
        cursor: pointer;

        :hover {
          color: $red_color;
        }
      }
    }

    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      gap: 10px;

      button {
        cursor: pointer;
        color: $white_color;
        background-color: $accent_color;
        padding: 5px 10px;
        border-width: 0px;
        border-radius: 5px;
      }
    }
  }

  @media (max-width: 480px) {
    padding: 20px;
  }
}
